.page-card {
  background-color: black;
  border-radius: 0.5rem;
  width: 15rem;
  height: 4rem;
  padding: 0.5rem;
  gap: 0.5rem;
  .image {
    background-color: rgb(75, 65, 46);
    border-radius: 0.5rem;
    width: 3rem;
    height: 3rem;
  }
  .content {
    width: 10.5rem;
    height: 3rem;
    background-color: saddlebrown;
    .label {
      height: 1.5rem;
    }
    .url {
      height: 1.5rem;
      background-color: brown;
    }
  }
}
