.page-card {
  border: 1px solid #e0e0e0;
  width: 15rem;
  height: 4rem;
  padding: 0.5rem;
  .image {
    border: 1px solid orange;
    width: 3rem;
    height: 3rem;
  }
  .content{
    width: 11rem;
    height: 3rem;
    border: 1px solid red;
    .label{
        height: 1.5rem;
    }
    .url{
        height: 1.5rem;
        background-color: brown;
    }
  }
}
