.page-card {
  text-decoration: none;
  border-radius: 0.5rem;
  width: 17rem;
  height: 4rem;
  padding: 0.5rem;
  gap: 0.5rem;
  color: white;
  box-shadow: 1px 1px 5px 1px #13131354;
  background-color: #b6b6b62c;

  backdrop-filter: blur(4px);
  border: 1px solid #e9e9e94f;

  &:hover {
    background-color: rgb(77, 77, 77);
  }
  &:active {
    background-color: black;
  }

  .image {
    background-color: rgb(75, 65, 46);
    border-radius: 0.5rem;
    width: 3rem;
    height: 3rem;
  }
  .content {
    width: 12.5rem;
    height: 3rem;
    /* background-color: saddlebrown; */
    .label {
      height: 1.5rem;
      display: flex;
      align-items: center;
      overflow: hidden;
      white-space: nowrap;
    }
    .url {
      height: 1.5rem;
      display: flex;
      align-items: center;
      overflow: hidden;
      white-space: nowrap;
      /* background-color: brown; */
    }
  }
}
